@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root {
	--primary-color: #f56200;
	--secondary-color: #0d0f12;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Sora', sans-serif;

	scrollbar-width: none;
}

body {
	background-image: linear-gradient(
		to top,
		#0d0f12,
		#121417,
		#15181c,
		#191b20,
		#1c1f25
	);
	color: #fff;
	line-height: 1.6;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
	transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
	cursor: pointer;
}

a:hover {
	opacity: 0.7;
}

.container {
	max-width: 768px;
	margin: auto;
	padding: 0 15px;
	min-height: calc(100vh - 120px);
}

header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	border-bottom: 1px solid var(--primary-color);
}

.logo-container {
	margin: auto;
}
.logo {
	height: 50px;
	margin-left: 36px;
}

.card {
	background: #fff;
	color: #333;
	border-radius: 5px;
	padding: 40px 30px;
	margin: 20px 0;
	position: relative;
}

.card.reverse {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	border-bottom: 1px solid var(--primary-color);
}

.card h2 {
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0 40px;
}

.rating li,
.num-display {
	position: relative;
	background: #fff;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	font-size: 19px;
	border: 1px var(--secondary-color) solid;
	transition: 0.3s;
}

.rating li label {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 5px;
	border: 1px var(--secondary-color) solid;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.rating li:hover,
.num-display {
	background-image: linear-gradient(
		to right top,
		#df7d23,
		#e67b24,
		#e0670a,
		#f56200,
		#fd5d00
	);
	color: #fff;
}

[type='radio'] {
	opacity: 0;
}

[type='radio']:checked ~ label {
	background-image: linear-gradient(
		to right top,
		#df7d23,
		#e67b24,
		#e0670a,
		#f56200,
		#fd5d00
	);
	color: #fff;
}

.input-group {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--secondary-color);
	padding: 8px 10px;
	border-radius: 5px;
	background: white;
}

input {
	flex-grow: 2;
	border: none;
	font-size: 16px;
	width: 1900px;
}

input:focus {
	outline: none;
}

.feedback-stats {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feedback-list {
	padding-bottom: 25px;
}

.text-display {
	margin-top: 5px;
}

.num-display {
	position: absolute;
	top: -10px;
	left: -10px;
}

.date-display {
	font-size: 0.5rem;
	color: #888787;
}

.close,
.edit {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 15px;
	color: white;
	transition: all 0.5s;
}

.close:hover,
.edit:hover {
	font-size: 18px;
	color: var(--primary-color);
}

.edit {
	right: 40px;
}

.btn {
	color: #fff;
	border: 0;
	border-radius: 5px;
	color: #fff;
	width: 100px;
	height: 40px;
	cursor: pointer;
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	width: 100%;
}

.btn-primary {
	background-color: var(--primary-color);
}

.btn-secondary {
	background: var(--secondary-color);
}

.btn:hover {
	transform: scale(0.98);
	opacity: 0.9;
}

.btn:disabled {
	background-color: #f4f4f4;
	color: rgb(172, 172, 172);
	cursor: auto;
}

.btn:disabled:hover {
	transform: scale(1);
	opacity: 1;
}

.message {
	padding-top: 10px;
	text-align: center;
	color: var(--secondary-color);
}

.about-link {
	position: sticky;
	bottom: 10px;
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
	color: #fff;
	cursor: pointer;
}

.about-link a {
	color: #fff;
}

.about-link a:hover {
	color: var(--primary-color);
}
.about-section {
	display: flex;
	align-items: center;
}

.about h1 {
	margin-bottom: 10px;
}

.about p {
	margin-bottom: 20px;
}

.about-section p {
	margin: 0 10px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	font-size: 0.8rem;
	padding: 10px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

footer:hover {
	background-color: whitesmoke;
}

@media (max-width: 600px) {
	.rating li {
		margin: 10px 3px;
	}

	.rating {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 30px 0 40px;
	}

	.input-group {
		flex-direction: column;
	}

	input {
		margin-bottom: 20px;
		max-width: 100%;
	}
}
